/*Variables*/
$default_fonts: Arial, Helvetica, sans-serif;
$default_fonts_size: 26px;
$html_background_color: #f8f8f8;

$intro_background_color: #E8E8E8;
$intro_border_color: rgb(75,75,75);
$intro_shadow_color: rgba(44, 82, 100, 0.75);
$intro_width_size: 65%;
$intro_header_color: #C0C0C0;