@charset "UTF-8";

@import "reset.scss";
@import "default.scss";

/* Variables */
$dice_sec_border_color: black;
$dice_sec_background_color: white; 
$dice_sec_header_font_size: 42px;
$dice_sec_header_bottom_border_color: #7AB2EC;
$dice_sec_result_font_color: mediumblue;

$palyer1_font_color: green;
$palyer2_font_color: brown;
$player_font_weight: 900; 

// dice image width in percentage
$img_width: 10%; 

$start_btn_background_color: rgba(130,200,160,1);
$reset_btn_background_color: rgba(250,90,90,1); 
$btn_border_radius: 5px; 

/*Mixins*/
// Params: font-size, font-weight, font-family
@mixin font-styles($font_size, $font_weight, $font_family) {
	font-weight: $font_weight;
	font-size: $font_size; 
	font-family: $font-family; 
}

// Params: background-color, color
@mixin colors-styles($background_color, $color) {
	background-color: $background_color;
	color: $color;
}

// Params: border, border-radius 
@mixin border-styles($border_styles, $border_radius) {
	border-radius: $border_radius; 
	border: $border_styles; 
}



/*page*/
html {
    @include font-styles($default_fonts_size, bold, $default_fonts);
    @include colors-styles( $html_background_color, initial);
}

/*section for contents to show*/
body {
    @include colors-styles($intro_background_color, initial);
    @include border-styles(3px solid $intro_border_color, 17px);
  
    box-shadow: 0 0 15px 5px $intro_shadow_color;
    max-width: $intro_width_size;
    margin: 0 auto;
    padding: 15px;
}

/*page intro*/
.wrapper header  {
    @include colors-styles($intro_header_color, initial);
    @include border-styles(initial, 10px 10px 0 0);
   
    padding-left: 6px;
    padding-bottom: 14px;
}

/*section for main contents to show*/
main {
    @include border-styles( 1px solid $dice_sec_border_color, 7px);
    @include colors-styles( $dice_sec_background_color, initial);
   
    margin-top: 18px; 
    padding: 20px;
}

/*main section's title & result area*/
.dice-game-sec {


    h2 {
        @include font-styles($dice_sec_header_font_size, 900, inherit);

        border-bottom: 2px dotted $dice_sec_header_bottom_border_color;
        margin-bottom: 20px; 
    }

    .result {
        @include font-styles(inherit, 900, inherit);
        @include colors-styles( $dice_sec_background_color, $dice_sec_result_font_color);
    
        margin-bottom: 32px; 
    }

}


/*player section*/
.player {
    .name {
        margin-bottom:10px;
    }

    p:nth-of-type(2) {
        margin-bottom: 20px; 
    }

    .dice-sec {
        padding:20px;
    }

    .dice-sec > p:nth-of-type(1) {
        margin-bottom: 10px; 
    }

    .dice-sec > .img-container > img{
        width: $img_width;
     } 
}


div.player:nth-of-type(1) {
    color: $palyer1_font_color;
   
    span:not(.pl1-round-score):not(.pl1-stage-score)  {
        font-weight: $player_font_weight;
    }

}

div.player:nth-of-type(2) {
    color: $palyer2_font_color;

    span:not(.pl2-round-score):not(.pl2-stage-score)  {
        font-weight: $player_font_weight;
    }
}


/*btn section*/
.btn-sec {

    button{
        @include font-styles(30px, bold, inherit);
        @include border-styles( initial, $btn_border_radius);
        margin-top:10px;
        cursor:pointer;
    }

    .dice-game-start-btn {
        @include colors-styles( $start_btn_background_color, initial);
    }

    .dice-game-reset-btn {
        @include colors-styles( $reset_btn_background_color, initial);
        margin-left: 10px; 
    }
}