/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Variables*/
/* Variables */
/*Mixins*/
/*page*/
html {
  font-weight: bold;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
  color: initial;
}

/*section for contents to show*/
body {
  background-color: #E8E8E8;
  color: initial;
  border-radius: 17px;
  border: 3px solid #4b4b4b;
  box-shadow: 0 0 15px 5px rgba(44, 82, 100, 0.75);
  max-width: 65%;
  margin: 0 auto;
  padding: 15px;
}

/*page intro*/
.wrapper header {
  background-color: #C0C0C0;
  color: initial;
  border-radius: 10px 10px 0 0;
  border: initial;
  padding-left: 6px;
  padding-bottom: 14px;
}

/*section for main contents to show*/
main {
  border-radius: 7px;
  border: 1px solid black;
  background-color: white;
  color: initial;
  margin-top: 18px;
  padding: 20px;
}

/*main section's title & result area*/
.dice-game-sec h2 {
  font-weight: 900;
  font-size: 42px;
  font-family: inherit;
  border-bottom: 2px dotted #7AB2EC;
  margin-bottom: 20px;
}

.dice-game-sec .result {
  font-weight: 900;
  font-size: inherit;
  font-family: inherit;
  background-color: white;
  color: mediumblue;
  margin-bottom: 32px;
}

/*player section*/
.player .name {
  margin-bottom: 10px;
}

.player p:nth-of-type(2) {
  margin-bottom: 20px;
}

.player .dice-sec {
  padding: 20px;
}

.player .dice-sec > p:nth-of-type(1) {
  margin-bottom: 10px;
}

.player .dice-sec > .img-container > img {
  width: 10%;
}

div.player:nth-of-type(1) {
  color: green;
}

div.player:nth-of-type(1) span:not(.pl1-round-score):not(.pl1-stage-score) {
  font-weight: 900;
}

div.player:nth-of-type(2) {
  color: brown;
}

div.player:nth-of-type(2) span:not(.pl2-round-score):not(.pl2-stage-score) {
  font-weight: 900;
}

/*btn section*/
.btn-sec button {
  font-weight: bold;
  font-size: 30px;
  font-family: inherit;
  border-radius: 5px;
  border: initial;
  margin-top: 10px;
  cursor: pointer;
}

.btn-sec .dice-game-start-btn {
  background-color: #82c8a0;
  color: initial;
}

.btn-sec .dice-game-reset-btn {
  background-color: #fa5a5a;
  color: initial;
  margin-left: 10px;
}
